<div class="center hero-unit">
  <h1>Welcome to the Fierce Lake</h1>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'  %>
  <h2>
    Here you can find some cool things (in the future (hopefully))
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>